#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.container {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}

.gridTable td {
  white-space: nowrap;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gridTable thead {
  position: sticky;
  top: 0;
  z-index: 10;
}